---
import Layout from '../layouts/BlogPost.astro';
import {Image} from 'astro:assets';
import angoisseImage from '../assets/angoisse.jpg';
import depressionImage from '../assets/depression.jpg';
import peurImage from '../assets/peur.jpg';
import detresseImage from '../assets/detresse.jpg';
import coupleImage from '../assets/couple.jpg';
---

<Layout
    title="Pourquoi consulter un psychologue"
    description="Les raisons de consulter un psychologue, un psychiatre ou un psychanalyste."
    pubDate={new Date('August 08 2024')}
    heroImage="/blog-placeholder-about.jpg"
>
  <section class="principal main-content" role="main">
    <p>Nombreuses sont les raisons de consulter un psychologue, un psychiatre ou un psychanalyste. Pour une aide
      ponctuelle ou pour un travail plus en profondeur, après mûre réflexion, dans un moment de crise ou sur
      les conseils de son médecin. Pour des troubles importants, voire invalidants ou simplement pour un
      mieux-être, pour donner plus de sens à sa vie. Les raisons de consulter sont toujours intimes.</p>
    <p>On consulte seul, à deux, ou avec son enfant. Voici un panel non exhaustif de ce qui mène les personnes à
      mon cabinet.</p>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-5">
        <h2>Les angoisses</h2>
        <Image
            src={angoisseImage}
            loading="lazy"
            title="angoisse"
            alt="angoisses"
        />
          <p>Angoisse diffuse, troubles anxieux, attaques de panique, l'angoisse gâche votre vie. Il existe
            des solutions. Outre les médicaments qui peuvent faire céder l'angoisse ou l'anxiété de façon
            rapide, il est important de mener conjointement une psychothérapie qui permettra de vous
            soulager de façon durable.</p>
      </div>
      <div class="flex flex-col gap-5">
        <h2>La dépression</h2>
        <Image
            src={depressionImage}
            loading="lazy"
            title="depression"
            alt="depression"
        />
        <p>Troubles du sommeil, irritabilité, manifestations psychosomatiques, et si vous étiez déprimé ? La
          dépression ne se manifeste pas nécessairement par un trouble de l'humeur et peut être masquée
          par divers symptômes. Qu'elle soit profonde ou réactionnelle à un deuil, une séparation, la
          dépression se soigne, même si l'être déprimé n'y croit pas !</p>
      </div>
      <div class="flex flex-col gap-5">
        <h2>Les phobies</h2>
        <Image
            src={peurImage}
            loading="lazy"
            title="peur"
            alt="peur"/>
        <p>Conduire votre voiture est devenu un enfer ? Vous ne pouvez plus prendre le métro, vous rendre
          dans un espace public sans souffrir de manifestations d'angoisse invalidantes ? Vous souffrez
          probablement d'un trouble phobique. La phobie n'est pas réservée à la peur des araignées ou des
          souris ! Il existe des thérapies efficaces contre les phobies. Demandez conseil à votre psy.</p>
      </div>
      <div class="flex flex-col gap-5">
        <h2>Souffrance au travail</h2>
        <Image
            src={detresseImage}
            loading="lazy"
            title="detresse"
            alt="detresse"/>
        <p>Au travail, dans vos relations, ou dans la vie en général, vous vous sentez dépassé, affaibli.
          Vous êtes stressé, angoissé, intimidé, fatigué, à la recherche d'un sens à tout cela. Un
          professionnel pourra vous aider à faire le point sur vos difficultés afin de trouver la
          meilleure voie pour améliorer vos conditions de vie.</p>
      </div>
      <div class="flex flex-col gap-5">
        <h2>Difficultés familiales et de couple</h2>
        <Image
            src={coupleImage}
            loading="lazy"
            title="detresse"
            alt="detresse"/>
        <p>Problèmes de couple, difficultés familiales, violences conjugales, divorce, ou plus simplement
          difficulté dans vos relations avec vos proches, il est nécessaire de faire le point et de
          retrouver votre place.</p>
      </div>
    </div>
  </section>
</Layout>
