---
import { Image } from "astro:assets";

interface Props {
  title: string;
  content: string;
  url: string;
  image: ImageMetadata;
}

const { title, content, url, image } = Astro.props;
---

<section
  class="group border-secondary border-2 p-5 text-black flex flex-col gap-3"
>
  <h3 class="text-2xl text-tertiary">
    {title}
  </h3>
  <hr class="border-secondary" />
  <Image
    src={image}
    alt={title}
    width={174}
    height={174}
    class="mx-auto my-5"
  />
  <p>
    {content}
  </p>
  <a
    href={url}
    class="bg-accent group-hover:bg-accent-dark transition-all ease-out hover:shadow-md py-3 px-5 rouded-sm ml-auto mt-auto text-right rounded-br-lg shadow-sm"
    >{title}</a
  >
</section>
