---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/global.css";

type Props = CollectionEntry<"blog">["data"] & {
  blogPost?: boolean;
  showDate?: boolean;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  blogPost = false,
  showDate = true,
} = Astro.props;
---

<html lang="fr">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-gradient-to-r from-blue-50 to-white">
    <Header />
    <main class="container flex flex-col xl:flex-row gap-5 xl:gap-32 xl:py-8">
      <article class="xl:w-2/3">
        <!-- Section Hero -->
        <div class="bg-white rounded-xl shadow-md p-8 mb-12 border border-gray-100">
          <header class="text-center">
            <h1 class="text-4xl md:text-5xl font-bold text-tertiary mb-4 leading-tight">
              {title}
            </h1>
            {
              showDate && (
                <p class="text-sm text-gray-500 font-medium">
                  <FormattedDate date={pubDate} />
                  {updatedDate && (
                    <span class="italic ml-2">
                      - Mis à jour le <FormattedDate date={updatedDate} />
                    </span>
                  )}
                </p>
              )
            }
          </header>
        </div>

        <!-- Contenu -->
        <div class={`bg-white rounded-xl shadow-md p-8 border border-gray-100 ${blogPost ? "" : "c-wysiwig"}`}>
          <slot />
        </div>
      </article>
      <SideBar showPsyInfo={false} />
    </main>
    <Footer />
  </body>
</html>
